body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25pt;
    background-image: url(../image/background.jpg);
    background-position: center;
    background-size: cover;
    
}
h1{
    background-color: transparent;
    text-align: center;
    color: #000000;
    padding: 50px;
    font-size: 14;
}
#perfil{
    text-align: center;
}
#perfil img{
    background-color: transparent;
    border-radius: 50%;
}
#perfil img:hover{
    background-color: #9e9e9e;
    transition: 0.5s;
    transform: scale(1.1);
}
p {
    text-align: center;
    font-size: 14;
}
.social-media {
    padding: 10px 0;
}
.social-media a:hover{
    background-color: #616161;
    transition: 0.5s;
    transform: scale(1.1);
}
.social-media a:active{
    background-color: #424242;
    transform: scale(1);
}
.social-media img{
    margin-right: 10px;
}
.social-media a{
    padding: 15px;
    margin: auto;
    background-color: #9e9e9e;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 300px;
    max-width: 400px;
}
footer{
    text-align: center;
    color: white;
    font-size: 12pt;
}